

.main_head{ 
    width:100%;
    float:left;
    /* position: fixed;
    z-index: 10;
    top: 0; */
    }
    .stricky-fixed {
        position: fixed;
        top: -2px;
        left: 0;
        z-index: 99;
        background-color: #fff;
        box-shadow: 0 20px 20px -10px #cccccc;
    }
.main_head .top_head{
     width:100%; 
     float:left;
     
      background-color:rgb(92, 52, 30);
    }
.main_head .top_head .welcom{padding:0px; font-family: Oswald Regular;}
.Lower_head{float: left; width: 100%;}
.logo img{height: 84px;width: 84px; display:block;margin: 0 auto;}
.logo{ padding-top: 10px;float: left;width: 100%;text-align: center;}
.logo a{text-decoration: none;}
.logo h3{color:rgb(74, 38, 19);text-transform: uppercase; font-weight: 600px;font-family: Anto Regular;padding: 0px;}
.all_head{ width: 100%; float: left; position: relative;}
.navbar_div{float: left;width: 100%;}
.nav_bar{width: 100%;text-align: center;position: relative; /* background-color: violet; */box-shadow: 5px 10px 18px #888888;}
.menu_div{display: inline-block;margin: 0 auto; padding: 0px 0px 0px 116px; }
.menu_div ul{display: inline-flex;list-style: none; padding: 9px;} 
.menu_div ul li{padding: 0px 12px;}
/* .menu_div ul li i{color: purple; padding: 0px 10px;} */
.menu_div ul li a{
    text-decoration: none;
    color: purple;
    font-family:Oswald Regular;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
}
.dropdown_menu{
   
    display: none;
    background-color:white;
    z-index: 1;
    position: absolute;
   border-top: 2px solid purple;
    box-shadow: 5px 10px 18px #888888;
}
.menu_div ul li:hover>.dropdown_menu{
    display: block;
    position: absolute;
    margin-top: 5px;

   
 
}
.menu_div ul li:hover>.dropdown_menu ul{
    display: block;
    margin-top: 10px;
    padding: 10px;
    
}
.menu_div ul li:hover>.dropdown_menu ul li{
    width: 200px;
    padding: 5px;
    border-bottom: 1px dotted whitesmoke;
    background-color:white;
    text-align: left;
}.cart_div{
    position:relative;
    /* padding-left: 88px; */
    /* margin-right: 25px; */
    /* background-color:palevioletred; */
   }
.cart_div ul{
    list-style:none;
    margin-right: 25px;
    /* background-color: #38A1F3; */
   }
.cart_div ul li{ 
   display:inline-block;
   padding: 10px 10px 0px;
   font-size: 17px;
}

.cart_div ul li i{ 
   display:inline-block;
   color:purple;
   
}


.search_box  {margin-left: 25px;padding: 9px 0px 0px 10px;}
.search_btn{color: purple; display: inline-block;font-size: 17px;}

.search_box .search_text{
 border: none;
 /* background: palegreen; */
 outline: none;
 text-align: left;
 padding: 0;
 font-size: 16px;
 transition: 0.4s;
 /* line-height: 40px; */
 width: 0px;
 position: absolute;
   /* left: -174px; */
}
.search_box:hover  .search_text{
   width: 167px;
   position: absolute;
   top: 8px;
   left: 60px;
   height: 30px;
   /* padding: 0px 5px; */
   border-radius: 3px;
   /* background-color: tomato; */
}
.welcom{
    float: left;
    margin-left: 350px;
  color:lemonchiffon;
}



.contact{float: left; width: 100%; padding: 25px;}
.contact_div{ float: left; border-right: 0.1rem solid gray; }
.contact_txt{background-color: whitesmoke; float: left; width: 100%;}
.contact_txt h2{width: 100%; float:left; text-align: center; font-family: Oswald Regular; font-size: 45px; padding: 36px;}
.contact_form{ float: left; padding: 20px; }
.contact_fill{padding: 17px; width: 100%; float: left;}
.contact_fill input{border: none; width: 100%; font-size: 20px; background-color:transparent; outline: none;  border-bottom: 0.1rem solid grey;}
/* .contact_soical{background-color: palegreen; } */
.submit_btn{float: left; width: 100%;  padding: 15px;}
.submit_btn input{ text-align: center ; width: 400px; display: block; border: none;padding: 7px; background-image: linear-gradient(to right, rgb(235, 193, 125),rgb(223, 183, 124),rgb(192, 131, 41),rgb(234, 190, 129), rgb(238, 220, 195));
 margin : 0 auto; font-size: 20px; color: black;}
.contact_soical{float: left; width: 100%; background-color: firebrick;padding: 20px; clear: both;}
.contact_add {background-color: dodgerblue;   }
.contact_phn{background-color: deeppink;  }




.stores{float: left; width: 100%; padding: 10px;}
.store_det{float: left;width: 100%;}
.stores_img{ padding: 0px; display: inline-block;}
.stores_img img{}
.store_txt{padding: 0px;}
.store_txt h3{display: inline-block;   font-family: Oswald Regular; font-size: 35px;}
.store_txt::after{content: "";width: 2px;position: absolute;height: 55px;background:black;top: 16%;left: 90%;}

.footer_div{background-color:rgb(121, 118, 118);float: left;width: 100%;padding: 40px;}
.foot{/* background-color: red; */}
.foot{color: white;}
.f_category{/* background-color: pink; */ /* text-align: center; */}
.f_category ul{list-style: none;padding: 0px;}
.f_category ul li{padding: 5px;}
.f_category ul li a{text-decoration: none;text-align: left; color: white;}
.f_category ul li a:hover{  color:goldenrod; border-bottom: 1px solid white;}
.f_combo{/* background-color: orangered; */}
.f_combo ul{list-style: none;padding: 0px;}
.f_combo ul li{padding: 5px;}
.f_combo ul li a{ text-decoration: none;text-align: left;color: white;}
.f_combo ul li a:hover{color:goldenrod; border-bottom: 1px solid white;}
.f_service{ /* background-color: blueviolet; */}
.f_service ul{list-style: none;padding: 0px;}
.f_service ul li{padding: 5px;}
.f_service ul li a{ text-decoration: none;text-align: left;color: white;}
.f_service ul li a:hover{color:goldenrod;  border-bottom: 1px solid white;}
/* .f_info{ background-color: springgreen;  } */
.f_info p{color: white;}
.f_bottom{border-top: 1px solid gray; text-align: center; color:white;}
.f_offers{ float: left; width: 100%; padding: 10px 0px 10px;}
.f_offers .f_offerstxt{width: 350px;height: 50px;  border: transparent;}
.f_srch_btn {padding: 17px; font-weight: 400px;color: #000; background-image: linear-gradient(to right, rgb(174, 134, 37),rgb(247, 239, 138),rgb(210, 172, 71),rgb(237, 201, 103));}
.f_srch_btn:hover{text-decoration: none;color: white;}
/* .f_payment {background-color: palegoldenrod; } */
.f_payment img{ width:180px; }
.f_payment h6{text-align:center;}