/* .testimonial{float: left;width: 100%; }
.testimonial{font-family: Oswald Regular;}
.testimonial h3{text-align: center;}
.user_view{float: left;width: 100%;padding: 30px;}
.user_view i{float: left;}
.user_deta{display: inline-flex; width: 100%;}
.user_txt{display: block; padding: 10px;}
.user_img img{width: 100px;height: 100px;} */